<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478360291449-qmfttmuv4sg2h889bvkcg0m5c00pes4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478360291449-qmfttmuv4sg2h889bvkcg0m5c00pes4f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>478360291449-10kdke0mt2f7obsdr2usi38vq5dsdkmv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDNMAasH5ae0YP4Wh9AkfCGPS9qfil2FOI</string>
	<key>GCM_SENDER_ID</key>
	<string>478360291449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.gemfort</string>
	<key>PROJECT_ID</key>
	<string>gemfort</string>
	<key>STORAGE_BUCKET</key>
	<string>gemfort.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478360291449:ios:be5e7a31f076ec25456ca8</string>
</dict>
</plist>